.footer__container {
    color: white;
    background-color: #00439C;
    padding: 30px 60px;
}

.footer__img {
    margin-bottom: 30px;
}

.footer__link {
    display: flex;
    justify-content: space-between;
}

.footer__link > ul {
    list-style: none;
}

.footer__link > ul > li {
    margin-top: 1rem;
}

.footer__link > ul > li:hover {
    color: rgb(179, 179, 179);
    cursor: pointer;
}

.footer__link > ul > li > h1 {
    font-size: 1.5rem;
}