<div class="footer__container">
    <div class="footer__img">
        <img src="assets/logops.png" alt="logo ps">
    </div>
    <hr>
    <div class="footer__link">
        <ul>
            <li><h1>Sobre</h1></li>
            <li>Sobre SIE</li>
            <li>Carreiras</li>
            <li>PlayStation Studios</li>
            <li>PlayStation Productions</li>
            <li>Empresarial</li>
        </ul>
        <ul>
            <li><h1>Produtos</h1></li>
            <li>PS5</li>
            <li>PS4</li>
            <li>PS VR2</li>
            <li>PS Plus</li>
            <li>Acessórios</li>
            <li>Jogos</li>
        </ul>
        <ul>
            <li><h1>Valores</h1></li>
            <li>Meio Ambiente</li>
            <li>Acessibilidade</li>
            <li>Segurança Online</li>
            <li>Diversidade, equidade e inclusão</li>
        </ul>
        <ul>
            <li><h1>Suporte</h1></li>
            <li>Central de Suporte</li>
            <li>Equipe de segurança do Playstation</li>
            <li>Status da PSN</li>
            <li>Reparos Playstation</li>
            <li>Redefinição de Senha</li>
            <li>Manuais</li>
        </ul>
        <ul>
            <li><h1>Recursos</h1></li>
            <li>Termos de serviço da PSN</li>
            <li>Política de cancelamento da PS Store</li>
            <li>Classificação etárias</li>
            <li>Aleta de Saúde</li>
            <li>Desenvolvedores</li>
        </ul>
        <img src="assets/pngwing.com.png" height="250px" alt="logo sony">
    </div>
</div>
