<div class="hero-release__container">
    <h1>{{heroTitle}}</h1>
    <h2>Blizzard Entertainment, Inc</h2>
    <p>Disponível para <span>PS4</span></p>

    <p class="price">R$ 349,90</p>

    <button class="btn-comprar">Comprar Agora</button>

    <div class="classificacao">
        <div class="classificacao__img">
            <img src={{urlClassificacao}}
            height="60px"
            alt="classificacao">
        </div>
        <div class="classificacao__content">
            <p>{{descricaoClassicacao}}</p>
            <hr>
            <p>{{descricao2Classificacao}}</p>
        </div>
    </div>
</div>
