<div class="home__container">
    <app-hero
        heroBanner="assets/banner_diablo.webp"
        heroTitle="Diablo IV"
        heroProdutora="Blizzard Entertainment, Inc"
        heroPlataforma="PS4"
        heroValor="329,90"
        heroClassificacao="18"
    ></app-hero>
    <div class="home__cards">
        <app-card gameCover="assets/bt-1.jpg" gameLabel="Exlusive" gamePrice="R$ 59,99" gameType="Full Game"></app-card>
        <app-card gameCover="assets/bt-4.jpg" gamePrice="R$ 59,99" gameType="Full Game"></app-card>
        <app-card gameCover="assets/bt-5.jpg" gameLabel="Cross Buy" gamePrice="R$ 159,99"
            gameType="Digital Game | PS4 | PS5"
        ></app-card>
    </div>
</div>
